
$color-mdl-red: #EB586F;
$color-mdl-light-grey: #D8E9F0;
$color-mdl-blue: #4AA0D5;
$color-mdl-dark-grey: #454553;

@import '_scss/all';

// // Vendor -------------- //
// @import '_scss/lib/bourbon/bourbon';
// @import '_scss/lib/neat/neat';
// @import '_scss/lib/normalize';


// // Core -------------- //

// @import '_scss/core/grid-settings';
// @import '_scss/core/defaults';
// @import '_scss/core/variables';
// @import '_scss/core/base';
// @import '_scss/core/grid';
// @import '_scss/core/utilities';


// // Elements -------------- //
// // Styles basic html elements

// @import '_scss/elements/typography';
// @import '_scss/elements/inputs';
// @import '_scss/elements/buttons';
// @import '_scss/elements/table';
// @import '_scss/elements/labels';


// // Components -------------- //

// @import '_scss/components/skipnav';
// @import '_scss/components/footer';
// @import '_scss/components/forms';
// @import '_scss/components/alerts';



html,body {
    min-height: 100%;
}
body {
    padding-bottom: 70px;
}

/*-----------------------------------*
* CSS based on Web Design Guidelines.
* - Uses Neat.bourbon.io as a grid
* - Uses patterns and components
*   from refills.bourbon.io/unstyled/
*-----------------------------------*/

body {
    background-color: #f8f8f8;
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: $font-sans;
}

.mdl-app .usa-heading-alt {
  color: $color-mdl-red;
  font-weight: 500;
}

.mdl-app a, .mdl-app a:visited {
  color: $color-primary;
}

.blue-bg {
    background-color: $color-mdl-blue;
    color: white;
}

/*----------------------------------*
* Globals, Resets, and overrides
*-----------------------------------*/
.mdl-txt-c {
    text-align: center;
}
.mdl-txt-r {
    text-align: right;
}
.mdl-txt-l {
    text-align: left;
}
.mdl-txt-uc {
    text-transform: uppercase;
}
.mdl-meta {
    color: $color-gray-light;
    font-weight: 300;
} 

/*
Use mdl-push-row to wrap elements that float to the left
or right
*/

.mdl-push-row {
    @include clearfix;
}

.mdl-push-left {
    float: left;
}
.mdl-push-right {
    float: right;
}
/* ===========================*
* Social Buttons
* ============================*/

.mdl-social-block {    
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

.mdl-social-block > .usa-button {
  background-color: $color-mdl-red;
  width: rem(60px);
}


/* ===========================*
* Application navigation bar  *
* ============================*/
.mdl-nav {
    background: $color-mdl-blue;
    color: $color_white;
    padding: rem(30px) 0;
    position: relative;

    .usa-grid {
        position: relative;
    }

    .mdl-dropdown {
        position: absolute;
        right: rem(112px);
    }
}

.mdl-logo {
    color: $color-white;
    margin-right: rem(20px);
}

.mdl-app-screen {
    margin: auto;
    width: 90%;
}

ul.mdl-nav-links {
    display: inline-block;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.mdl-nav-links > li {
  float: right;
}
ul.mdl-nav-links > li a {
    color: $color_white;
    display: inline-block;
    text-align: center;
    padding: rem(10px) rem(20px);
    text-decoration: none;
    &:hover {
      color: darken($color_white, 10%)
    }

}

/* ===========================*
* Filters & Search
* ============================*/

.mdl-actions {
  form, .usa-search  {
    display: inline-block;
  }
  form {
    max-width: 200px;
  }
  .usa-search {
    float: right;
  }
}


/* ===========================*
* Page Banner
* ============================*/

.mdl-banner {	
  background: $color-mdl-blue;
  color: $color_white;
  padding: rem(40px) 0;
  padding-bottom: rem(100px);
  position: relative;    
  .usa-display {
  	margin:0;
  }
	.usa-grid {
		position: relative;
  }
}

.mdl-profile {
  text-align: center;
}

.mdl-profile .mdl-pic {
    margin: 0 auto;
    width: rem(250px);
    border-radius: rem(250px);
    margin-bottom: rem(20px);
}

.mdl-profile a {
  text-align: center;
  color: darken($color-white, 0%);
  padding-right: 20px;
  font-weight: 300;
}

.mdl-profile i, .mdl-project i {
  padding-right: rem(10px);
}

.mdl-project .mdl-meta {
  color: darken($color-white, 0%);
  padding-right: 20px;
  font-weight: 300;
}




/*
.mdl-app-segment represents a chunk of an application's
page Should be an immediate child of .mdl-app. Avoid
making .mdl-app-segment a grandchild element of .mdl-app.
*/
.mdl-app-segment {
    // Clearfix
    &::before, &::after {
        content: ' ';
        display: block;
        clear:both;
    }

    &--alt {
        background: $color-white;
        border: 1px solid $color-gray-lighter;
        padding: rem(30px);
    }
}

// Adds top margin when .mdl-app-segment
// is preceded by an element
* + .mdl-app-segment {
    margin-top: rem(30px);
}

// Make the top margin larger whenever
// mdl-app-segment is the first-child
.mdl-app-segment {
    &:first-child {
        margin-top: rem(40px);
    }
}


/* ===========================*
* Profile Page             
* ============================*/
.mdl-sidebar {
    padding-right: rem(40px);
	.mdl-pic {
		border: 1px solid $color-gray-light;
		border-radius: 3px;
	}
}


/* ===========================*
* Search Results           
* ============================*/


.mdl-result, .mdl-result:hover {

    cursor: pointer;
    .mdl-pic, .mdl-name, .mdl-meta {
      margin: 0;      
    }
    .mdl-pic {
      padding: 0 rem(20px);
    }
    .mdl-name {
      font-weight: 500;
      margin-bottom: rem(2px);
    } 
    .mdl-meta {
      color: darken($color-white, 10%);
    }        
}

.mdl-project .mdl-result, .mdl-result:hover {
  background-color: $color-white;
  color: $color-mdl-blue;
  cursor: pointer;
  border: rem(1px) solid $color-white;
  border-radius: rem(5px);
  padding: rem(20px);
  min-height: rem(120px);
  margin-bottom: 20px;

  h1 {
    margin: 0;
  }

  &:hover {
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  }

  .mdl-pic {
    margin: 10px 0 ;
  }
  .mdl-pic img {
    float: right;
    background-color: $color-mdl-red;
    width: 32px;
    height: 32px;
    margin: 3px;

  }

  img.mdl-pic:first-child {
    
  }

}
