
$color-mdl-red: #EB586F;
$color-mdl-light-grey: #e6e6e6;
$color-mdl-blue: #4AA0D5;
$color-mdl-dark-grey: #454553;

@import '_scss/all';

// // Vendor -------------- //
// @import '_scss/lib/bourbon/bourbon';
// @import '_scss/lib/neat/neat';
// @import '_scss/lib/normalize';


// // Core -------------- //

// @import '_scss/core/grid-settings';
// @import '_scss/core/defaults';
// @import '_scss/core/variables';
// @import '_scss/core/base';
// @import '_scss/core/grid';
// @import '_scss/core/utilities';


// // Elements -------------- //
// // Styles basic html elements

// @import '_scss/elements/typography';
// @import '_scss/elements/inputs';
// @import '_scss/elements/buttons';
// @import '_scss/elements/table';
// @import '_scss/elements/labels';


// // Components -------------- //

// @import '_scss/components/skipnav';
// @import '_scss/components/footer';
// @import '_scss/components/forms';
// @import '_scss/components/alerts';



html,body {
    min-height: 100%;
}
body {
    padding-bottom: rem(70px);
}

/*-----------------------------------*
* CSS based on Web Design Guidelines.
* - Uses Neat.bourbon.io as a grid
* - Uses patterns and components
*   from refills.bourbon.io/unstyled/
*-----------------------------------*/

body {
    background-color: #f8f8f8;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
}

.mdl-app .usa-heading-alt {
  color: $color-mdl-red;
  font-weight: 500;
}

.mdl-app a, .mdl-app a:visited {
  color: $color-primary;
}

.blue-bg {
  background-color: $color-mdl-blue;
  color: white;
}

/*----------------------------------*
* Globals, Resets, and overrides
*-----------------------------------*/
.mdl-txt-c {
  text-align: center;
}
.mdl-txt-r {
  text-align: right;
}
.mdl-txt-l {
  text-align: left;
}
.mdl-txt-uc {
  text-transform: uppercase;
}
.mdl-meta {
  color: $color-gray;
  font-weight: 300;
} 

.mdl-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*
Use mdl-push-row to wrap elements that float to the left
or right
*/

.mdl-push-row {
    @include clearfix;
}

.mdl-push-left {
    float: left;
}
.mdl-push-right {
    float: right;
}


/* ===========================*
* Tooltips
* ============================*/

a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:140px;
  color: #FFFFFF;
  background: $color-mdl-red;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  white-space: nowrap;

}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 48%;
  margin-left: -8px;
  width: 0; 
  height: 0;
  border-top: 8px solid $color-mdl-red;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;

}
a:hover.tooltips span {
  font-size: .8em;
  visibility: visible;
  bottom: 40px;
  left: 48%;
  margin-left: -76px;
  z-index: 999;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
}


/* ===========================*
* Application navigation bar  *
* ============================*/
.mdl-nav {
  background: $color-mdl-blue;
  color: $color_white;
  padding: rem(30px) 0;
  position: relative;

  .usa-grid {
    position: relative;
  }

  .mdl-dropdown {
    position: absolute;
    right: rem(112px);
  }
}

.mdl-logo, .mdl-logo:visited {
  color: $color-white;
  margin-right: rem(20px);
  &:hover {
    color: darken($color_white, 10%);
    text-decoration: none;
  }
}

.mdl-app-screen {
  margin: auto;
  width: 90%;
}

ul.mdl-nav-links {
  display: inline-block;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.mdl-nav-links > li {
  float: right;
}
ul.mdl-nav-links > li a {
  font-size: 0.9em;
  color: $color_white;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 rem(10px) rem(30px);
  text-decoration: none;
  &:hover {
    color: darken($color_white, 10%)
  }

}

/* ===========================*
* Filters & Search
* ============================*/

.mdl-actions {
  form, .usa-search  {
    display: inline-block;
  }
  form {
    width: 200px;
  }
  .usa-search {
    float: right;
  }
}


/* ===========================*
* Page Banner
* ============================*/

.mdl-banner { 
  background: $color-mdl-blue;
  color: $color_white;
  padding: rem(40px) 0;
  padding-bottom: rem(100px);
  position: relative;    
  .usa-display {
    margin:0;
  }
  .usa-grid {
    position: relative;
  }
}

.mdl-profile {
  text-align: center;
}

.mdl-profile .mdl-pic {
    margin: 0 auto;
    width: rem(250px);
    height: rem(250px);
    border: 1px solid $color-mdl-light-grey;
    border-radius: rem(250px);
    margin-bottom: rem(20px);
}

.mdl-profile a {
  text-align: center;
  color: darken($color-white, 0%);
  padding-right: rem(20px);
  font-weight: 300;
}

.mdl-profile i, .mdl-project i {
  padding-right: rem(10px);
}

.mdl-project .mdl-meta {
  color: darken($color-white, 0%);
  padding-right: rem(20px);
  font-weight: 300;
}



/*
.mdl-app-segment represents a chunk of an application's
page Should be an immediate child of .mdl-app. Avoid
making .mdl-app-segment a grandchild element of .mdl-app.
*/
.mdl-app-segment {
    // Clearfix
    &::before, &::after {
        content: ' ';
        display: block;
        clear:both;
    }

    &--alt {
        background: $color-white;
        border: 1px solid $color-gray-lighter;
        padding: rem(30px);
    }
}

// Adds top margin when .mdl-app-segment
// is preceded by an element
* + .mdl-app-segment {
    margin-top: rem(30px);
}

// Make the top margin larger whenever
// mdl-app-segment is the first-child
.mdl-app-segment {
    &:first-child {
        margin-top: rem(40px);
    }
}

/* ===========================*
* Site Stats
* ============================*/

.mdl-site-stats  {
  background-color: $color-white;
  padding: 10px 20px 40px 20px;
  color: $color-mdl-blue;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 50%;
  margin: 2em auto;
  table {
    margin: 0;
  }
  th, td {
    border-color: $color-mdl-light-grey;  
  }
  

}

/* ===========================*
* Profile Page             
* ============================*/
.mdl-sidebar {
    padding-right: rem(40px);
  .mdl-pic {
    border: 1px solid $color-mdl-light-grey;  
    border-radius: rem(3px);
  }
}


/* ===========================*
* Social Buttons
* ============================*/

.mdl-social-block {    
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 rem(30px);
  a, a:visited {
    color: $color-white;
  }
}

.mdl-social-block > a.usa-button, .mdl-social-block > a.usa-button-disabled {
  color: $color-white;
  width: rem(60px);
  i {
    padding-right: 0;
  }
}

.mdl-social-block > a.usa-button {
  background-color: $color-mdl-blue;
}





/* ===========================*
* Search Results           
* ============================*/

.mdl-result-card {
  display: inline-block;
  cursor: pointer;
  padding: rem(20px);
  background-color: $color-white;
  color: $color-mdl-blue;
  border-radius: rem(3px);
  min-height: rem(250px);
  margin-bottom: rem(20px);
  .mdl-name, .mdl-meta {
    margin: 0;
  }
  .mdl-pic {
    border: 1px solid $color-mdl-light-grey;  
  }
  .mdl-name {
    padding-top: rem(10px);
  }
  &:hover {
    box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
  }
}

// Profile Results
.mdl-profile .mdl-result-card {
  .mdl-pic {
    width: rem(175px);
    height: rem(175px);
    border-radius: rem(175px);
  }
}

.mdl-result-card {
  // Map Results
  .mdl-map {
    width: rem(175px);
    height: rem(175px);
    z-index: 0;
  }
}

// Project Results
.mdl-project .mdl-result-card {
  padding: rem(20px);
  min-height: rem(120px);
  .mdl-name {
    margin: 0;
  }
  .mdl-pic {
    border-radius: 3px;
    float: right;
    width: rem(32px);
    height: rem(32px);
    margin: rem(3px);
  }
}

// office page
.mdl-office .mdl-map {
  width: rem(650px);
  height: rem(400px);
}
