{% extends "mandelbrot/base.html" %}
{% load humanize %}

{% block "bodyhack" %} class="blue-bg"{% endblock %}

{% block "main" %}
    <div class="mdl-banner mdl-profile">
      <div class="usa-grid">
          <img class="mdl-pic" src="{{agency.photo_url}}">
          <h3 class="usa-display">{{agency.name}}</h3>
      </div>
    </div>

    <div id="main" class="usa-grid">
      <div class="mdl-app">
        <div class="mdl-app-segment">
{% with agency.get_active_experts as experts %}     
{% include "mandelbrot/lists/expert.html" %}
{% endwith %}
        </div>
      </div>

      <div class="mdl-app mdl-project">
        <div class="mdl-app-segment">
{% with agency.get_active_projects as projects %}     
{% include "mandelbrot/lists/project.html" %}
{% endwith %}
       </div>
      </div>
    </div>

{% endblock %}
