<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <title>{% block "subject" %}{% endblock %}</title>

      <link rel="stylesheet" href="/static/css/google-fonts.css">
      <link rel="stylesheet" href="/static/css/main.css">
      <link rel="stylesheet" href="/static/css/mandelbrot.css">

      {% block "header" %}{% endblock %}
  </head>
  <body>
    <nav class="mdl-nav">
        <div class="usa-grid">
            <strong class="mdl-logo">Mandelbrot</strong>
            <span class="mdl-application-title"></span>

          <ul class="mdl-nav-links usa-unstyled-list">
            <li><a href="{% url "offices" %}">Offices</a></li>
            <li><a href="{% url "projects" %}">Projects</a></li>
            <li><a href="{% url "experts" %}">People</a></li>
          </ul>
        </div>
    </nav>
{% block "main" %}{% endblock %}
  </body>
</html>
