{% extends "mandelbrot/base.html" %}

{% block "main" %}
    <div id="main" class="usa-grid">
      <div class="usa-width-full">
        <h1>{{expert.name}}</h1>
        <h2>{{expert.title}}</h2>

        <div class="usa-width-full">
            {% for role in expert.roles.all %}{% if role.icon %}
                <i class="fa fa-{{role.icon}}"></i>
            {% endif %}{% endfor %}
        </div>

        Active projects
        <ul>
        {% for membership in expert.get_active_memberships %}
            <li>{{membership.project.name}}</li>
        {% endfor %}
        </ul>

        inactive projects
        <ul>
        {% for membership in expert.get_inactive_memberships %}
            <li>{{membership.project.name}}</li>
        {% endfor %}
        </ul>

        {% if not user.is_anonymous %}
            {% if expert.buddy %}
                My buddy is {{expert.buddy.name}}
            {% endif %}
        {% endif %}

        {% if not user.is_anonymous %}

        Badges
        <ul>
        {% for badge in expert.badges.all %}
            <li>{{badge.badge.title}}</li>
        {% endfor %}
        </ul>

        Contact
        <ul>
        {% for contact in expert.contact_details.all %}
            <li>
                I can be reached via
                {{contact.get_type_display}} at {{contact.value}}
                {% if contact.note %}
                    ({{contact.note}})
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        {% endif %}

      </div>
    </div>
{% endblock %}
