{% extends "mandelbrot/base.html" %}
{% load humanize %}

{% block "bodyhack" %} class="blue-bg"{% endblock %}

{% block "main" %}
    <div id="main" class="usa-grid">
      <div class="mdl-app">
        <div class="mdl-app-segment">
{% for expert in experts %}
          <div class="usa-width-one-third mdl-result">
              <img class="mdl-pic" src="{{expert.photo_url}}">
              {% include "mandelbrot/fragments/compact_contact.html" %}
{% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
