{% extends "mandelbrot/base.html" %}
{% load markdown %}
{% load humanize %}

{% block "main" %}
    <div class="mdl-banner mdl-profile">
      <div class="usa-grid">
          
          <img class="mdl-pic" src="{{expert.photo_url}}">
          <h3 class="usa-display">{{expert.name}}</h3>
          <!-- XXX: Add title
          <h4>{{expert.title}}</h4>
          -->

          {% include "mandelbrot/fragments/verbose_contact.html" %}
      </div>
    </div>

    <div id="main" class="usa-grid">
      <div class="mdl-app">
        <div class="mdl-app-segment">
          <div class="usa-width-one-third mdl-sidebar">
            <h6 class="usa-heading-alt">Agency</h6>
            <ul class="usa-unstyled-list">
{% for agency in expert.get_active_agencies %}
                <li><a href="{% url "agency" agency.id %}">{{agency.name}}</a></li>
{% endfor %}
            </ul>

            <h6 class="usa-heading-alt">Projects</h6>
            <ul class="usa-unstyled-list">
{% for membership in expert.get_active_memberships %}
              <li>
                  <a href="{% url "project" membership.project.id %}">{{membership.project.name}}</a>
                  <span class="mdl-meta"> ({{membership.get_duration|humanize_timedelta}})</span>
              </li>
{% endfor %}
{% for membership in expert.get_inactive_memberships %}
              <li>
                  <a href="{% url "project" membership.project.id %}">{{membership.project.name}}</a>
                  <span class="mdl-meta"> (Past)</span>
              </li>
{% endfor %}
            </ul>
          
            <h6 class="usa-heading-alt">Badges</h6>
            <div class="usa-grid-full">
{% for award in expert.badges.all %}
<div class="usa-width-one-fourth"><img class="mdl-pic" src="{{award.badge.photo_url}}" alt="The {{award.badge.title}} Badge, awarded by {{award.awarded_by.name}}"></div>
{% endfor %}
            </div>

            <h6 class="usa-heading-alt">Interests</h6>
            <div class="usa-grid-full">
            <ul class="usa-unstyled-list">
{% for interest in expert.interests.all %}
    <li>{{interest.name}}</li>
{% endfor %}
            </ul>
            </div>

          </div>

           <div class="usa-width-two-thirds">
            <h6 class="usa-heading-alt">Bio</h6>
            <p>{{expert.bio|markdown|safe}}</p>
          </div>
       </div>
      </div>
    </div>
{% endblock %}
