{% extends "mandelbrot/base.html" %}

{% block "bodyhack" %} class="blue-bg"{% endblock %}

{% block "main" %}
<div id="main" class="usa-grid">
  <div class="mdl-app">
    <div class="mdl-app-segment">
    	  <p class="usa-font-lead mdl-txt-c">Welcome to Mandelbrot, the team directory of the United States Digital Service.</p>

    	  <div class="mdl-site-stats">
    	  	<table class="usa-table-borderless">
			    <thead>
			      <tr>
			        <th scope="col"></th>
			        <th scope="col">Current</th>
			        <th scope="col">Past</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <th scope="row">People</th>
			        <td>{{current_experts|length}}</td>
			        <td>{{past_experts|length}}</td>
			      </tr>
			      <tr>
			        <th scope="row">Projects</th>
			        <td>{{current_projects|length}}</td>
			        <td>{{past_projects|length}}</td>
			      </tr>
			    </tbody>
			  </table>
    	  </div>
    </div>
  </div>
</div>
{% endblock %}
