{% extends "mandelbrot/base.html" %}

{% block "header" %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="/static/js/mandelbrot.maps.min.js"></script>
{% endblock %}

{% block "main" %}
    <div class="mdl-banner">
      <div class="usa-grid">
          <h3 class="usa-display">{{office.name}}</h3>
      </div>
    </div>

    <div id="main" class="usa-grid mdl-office">
      <div class="mdl-app">
        <div class="mdl-app-segment">
          <div class="usa-width-one-third mdl-sidebar">
              <h6 class="usa-heading-alt">Address</h6>
              {{office.address}}

              {% if office.tips %}
              <h6 class="usa-heading-alt">Tips</h6>
              {{office.tips}}
              {% endif %}

              <h6 class="usa-heading-alt">Projects</h6>
              <ul class="usa-unstyled-list">
              {% for project in office.projects.all %}
                <li><a href="{% url "project" project.id %}">{{project.name}}</a></li>
              {% endfor %}
              </ul>
          </div>
          <div class="usa-width-two-thirds">
            <div class='mdl-map'
                    data-latitude="{{office.latitude}}"
                    data-longitude="{{office.longitude}}"
            ></div>
          </div>
       </div>
      </div>
    </div>
{% endblock %}
