{% extends "mandelbrot/base.html" %}

{% block "main" %}
    <div id="main" class="usa-grid">
      <div class="usa-width-full">
        <h1>Onboarding for {{expert.name}}</h1>
        <table>
          <thead>
            <tr>
              <th scope="col">Process</th>
              <th scope="col">Description</th>
              <th scope="col">Complete</th>
            </tr>
          </thead>
          <tbody>
{% for step in onboarding %}
<form action="{% url "onboarding" expert.id %}" method="POST">
    <input type="hidden" name="step" value="{{step.id}}" />
{% csrf_token %}
            <tr>
              <td scope="row">
{% if step.done %}
                  <img height="20px" src="/static/img/alerts/success.png" alt="" />
{% else %}
<input type="submit" value="{% if step.step.action %}Process{% else %}I did this!{% endif %}" />
{% endif %}
              </td>
              <td>{{step.step.description}}</td>
              <td>
{% if step.done %}
                  <span class="usa-label">Complete</span>
{% else %}
                  <span class="usa-label">Incomplete</span>
{% endif %}
              </td>
            </tr>
</form>
{% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
