{% extends "mandelbrot/base.html" %}
{% load markdown %}
{% load human_list %}

{% block "main" %}
    <div class="mdl-banner mdl-project">
      <div class="usa-grid">          
          <h3 class="usa-display">{{project.name}}</h3>
          <span class="mdl-meta"><i class="fa fa-rebel"></i> 
              {{project.agencies.all|human_list}}
          </span>
          <span class="mdl-meta"><i class="fa fa-users"></i> {{project.get_active_memberships|length}} DSEs</span>

          <span class="mdl-meta">
{% if project.active %}
              <i class="fa fa-thumbs-o-up"></i> Active
{% else %}
              <i class="fa fa-thumbs-o-down"></i> Inactive
{% endif %}
          </span>

      </div>
    </div>

    <div id="main" class="usa-grid">
      <div class="mdl-app">
        <div class="mdl-app-segment">
          <div class="usa-width-one-third mdl-sidebar">
            <h6 class="usa-heading-alt">Team Members</h6>
            <ul class="usa-unstyled-list">
{% for membership in project.get_active_memberships %}
              <li><a href="{% url "expert" membership.who.id %}">{{membership.who.name}}<span class="mdl-meta"></span></a></li>
{% endfor %}
{% for membership in project.get_inactive_memberships %}
              <li><a href="{% url "expert" membership.who.id %}">{{membership.who.name}}<span class="mdl-meta"> (past)</span></a></li>
{% endfor %}
            </ul>

            <h6 class="usa-heading-alt">Offices</h6>
            <ul class="usa-unstyled-list">
{% for office in project.offices.all %}
              <li><a href="{% url "office" office.id %}">{{office.name}}<span class="mdl-meta"></span></a></li>
{% endfor %}
            </ul>
          </div>

           <div class="usa-width-two-thirds">
            <h6 class="usa-heading-alt">Mission</h6>
            <p>{{project.mission|markdown|safe}}</p>

            <h6 class="usa-heading-alt">Project Description</h6>
            <p>{{project.description|markdown|safe}}</p>
          </div>
       </div>
        </div>
      </div>
    </div>
{% endblock %}
