Django
-e git+https://github.com/department-of-veterans-affairs/django-designstandards.git#egg=designstandards
Markdown
humanize
dj_database_url
dj-static

# psycopg2
# github3.py
# django-debug-toolbar
