{% load humanize %}

{% for membership in memberships %}
              <li>
                  <a href="{% url "expert" membership.who.id %}">{{membership.who.name}}</a>
                  <span class="mdl-meta"> 
                      {% if membership.end_date %}
                      (Past)
                      {% else %}
                      ({{membership.get_duration|humanize_timedelta}}, {{membership.roles.all|humanize_list}}{% if membership.part_time %}, Part Time{% endif %})
                      {% endif %}
                  </span>
              </li>
{% endfor %}
