{% load humanize %}

<script src="/static/js/cards.min.js"></script>

{% for project in projects %}
          <div class="usa-width-one-whole mdl-result-card" data-detail="{% url "project" project.id %}">
            <div class="usa-width-two-thirds">
              <h1 class="mdl-name"><a href="{% url "project" project.id %}" >{{project.name}}</a></h1>
              <div "mdl-meta">
                  {{project.agencies.all|humanize_list}}
                  •
                  {{project.get_active_memberships|length}} DSEs
                  •
                  {% if project.active %}Active{% else %}Inactive{% endif %}
              </div>
            </div>
            <div class="usa-width-one-third">
{% for membership in project.get_active_memberships %}
            <a class="mdl-pic clearfix tooltips" href="{% url "expert" membership.who.id %}">
              {% if membership.who.photo_url == "" %}
              <img src="/static/img/default-pic.png" />
              {% else %}
              <img src="{{membership.who.photo_url}}" />
              {% endif %}
              <span>{{membership.who.name}}</span>
            </a>
{% endfor %}
            </div>
          </div>
{% endfor %}
