{% extends "mandelbrot/cards/card.html" %}
{% load humanize %}

{% block card %}
{% with item as expert %}
    <a href="{% url "expert" expert.id %}">
        <img class="mdl-pic" src="{{expert.photo_url}}" />
    </a>

    <div class="mdl-social-block">
    {% for contact_detail in expert.get_preferred_contact_details %}
        {% if contact_detail.type == "phone" %}
<a class="usa-button" href="tel:{{contact_detail.value}}"><i class="fa fa-mobile"></i></a>
        {% endif %}

        {% if contact_detail.type == "email" %}
<a class="usa-button" href="mailto:{{contact_detail.value}}"><i class="fa fa-envelope-o"></i></a>
        {% endif %}

        {% if contact_detail.type == "github" %}
<a class="usa-button" href="https://github.com/{{contact_detail.value}}"><i class="fa fa-github-alt"></i></a>
        {% endif %}
    {% endfor %}
    </div>

    <h4 class="mdl-txt-c mdl-name">{{expert.name}}</h4>
    <p class="mdl-meta mdl-txt-c mdl-meta mdl-truncate">
        {{expert.get_active_agencies|humanize_list:"United States Digital Service"}}
    </p>
{% endwith %}
{% endblock %}
